const MyElement = component(({ attrs }) => {
  const heading = attrs['my-heading'];

  // heading.set() will also update the `my-heading` attribute in the HTML.

  return html`<h2>${heading}</h2>`;
});
