const MyElement = customElement(() => {
  const count = signal(0);

  // ...

  return html`
    <div>${count()}</div> <!-- template never updates -->
    <div>${count}</div> <!-- template updates with the signal -->
  `;
});
