import { component, html } from 'thunderous';

const MyElement = component(({ clientCallback }) => {

  // This will be run in the constructor of the custom element.
  clientCallback(() => {
    console.log('This will only run on the client.');
  });

  return html`<div>My Element</div>`;
});


// ------ OR ------


import { clientCallback } from 'thunderous';

// This will run immediately, and may be awaited if necessary.
clientCallback(() => {
  console.log('This will only run on the client.');
});
