const MyElement = customElement(() => {
  const [count, setCount] = signal(0);

  const increment = () => setCount(count() + 1);

  return html`
    <button onclick="${increment}">Increment</button>
    <output>${count}</output>
  `;
});
