const MyElement = customElement(() => {
  const count = signal(0);

  const increment = () => count.set(count() + 1);

  return html`
    <button onclick="${increment}">Increment</button>
    <output>${count}</output>
  `;
});
