import { customElement, html, computed, signal } from 'thunderous';

const MyElement = customElement(() => {
  const cond = signal(true);

  return html`
    <button class="primary ${computed(() => cond() ? 'primary--active' : '')}">
      Click me
    </button>
  `;
});

// alternatively, for a cleaner template...

const MyElement2 = customElement(() => {
  const cond = signal(true);
  const activeClass = computed(() => cond() ? 'primary--active' : '');

  return html`
    <button class="primary ${activeClass}">
      Click me
    </button>
  `;
});
