import { component, html, computed, signal } from 'thunderous';

const MyElement = component(() => {
  const cond = signal(true);
  const list = signal([{ id: 1, text: 'Item 1' }, { id: 2, text: 'Item 2' }]);

  return html`
    <p>
      ${computed(() => cond() ? html`<span>True</span>` : html`<span>False</span>`)}
    </p>
    <ul>
      ${computed(() => list().map((item) => html`<li key="${item.id}">${item.text}</li>`))}
    </ul>
  `;
});
