import { component, html } from 'thunderous';

const MyElement = component(() => {
  const cond = true;

  return html`
    <p>
      ${cond ? html`<span>True</span>` : html`<span>False</span>`}
    </p>
  `;
});
