import { customElement, html, css, signal } from 'thunderous';

const MyElement = customElement(({ adoptStyleSheet }) => {
  const count = signal(0);
  const increment = () => count.set(count() + 1);
  adoptStyleSheet(myStyleSheet);
  return html`
    <button onclick="${increment}">Increment</button>
    <output>${count}</output>
  `;
});

const myStyleSheet = css`
  :host {
    display: block;
    font-family: sans-serif;
  }
`;

MyElement.define('my-element');
